@charset "UTF-8";

/* all style */
* {
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}

/* main.html style */
#mainhome {
	min-width: 1000px;
}
header {
	background-color: #FACC2E;
	line-height: 80px;
	text-align: left;
	margin-bottom: 5px;
	height: 60px;
	border-radius: 30px;
}
#headerimage {
	width: 40px;
	height: 40px;
	margin-left: 25px;
	margin-top: 15px;
}
header h1 {
	display: inline;
	position: absolute;
	font-size: 20px;
}
header h1 a:link {
	color: #8000FF
}
header h1 a:visited {
	color: #8000FF
}
nav {
	width: 100%;
	height: 60px;
	background-color: #D0A9F5;
	border-radius: 30px;
	margin-bottom: 5px;
}
nav div {
	color: white;
	width: 20%;
	float: left;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	text-transform: uppercase;
}
nav div a:link {
	color: white;
}
nav div a:visited {
	color: white;
}
.center {
	float: left;
	height: 743px;
	margin-bottom: 5px;
	border-radius: 30px;
}
#left {
	width: 20%;
	background-color: #F8E0F7;
}
#left h3 {
	padding-top: 20px;
	padding-left: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	line-height: 80px;
}
#left ul li {
	background-color: #F5A9D0;
	margin-left: 10px;
	padding-left: 10px;
	border: 1px solid #E6E6E6;
	width: 161px;
	font-size: 20px;
	line-height: 80px;
}
#left ul li a {
	color: white;
}
#main {
	width: 60%;
}
#main article iframe {
	width: 30%;
	height: 400px;
}
#article1 {
	float: left;
	width: 30%;
	padding-left: 15px;
	height: 540px;
	padding-top: 110px;
	padding-bottom: 20px;
}
#frm {
	width: 800px;
	height: 580px;
	border: 1px solid white;
	margin-left: 80px;
}
#right {
	width: 20%;
	background-color: #F8E0F7;
}
#shopcart {
	height: 235px;
	margin-top: 20px;
	margin-left: 15px;
}
#login {
	height: 235px;
	margin-top: 20px;
	margin-left: 15px;
}
footer {
	clear: both;
	background-color: black;
	height: 60px;
	color: white;
	text-align: center;
	line-height: 60px;
	border-radius: 30px;
}
.log {
	width: 200px;
	height: 20px;
}

/* computer.html style */
.comimg {
	width: 250px;
	height: 230px;
}
.comset {
	width: 200px;
	height: 500px;
	display: inline;
}

/* clothing.html style */
.cloimg {
	width: 360px;
	height: 300px;	
}
.closet {
	width: 230px;
	height: 500px;
	display: inline;
}

/* music.html style */
.musimg {
	width: 250px;
	height: 230px;
}
.musset {
	width: 200px;
	height: 500px;
	display: inline;
}
.audio {
	width: 200px;
}

/* movie.html style */
.movimg {
	width: 250px;
	height: 230px;
}
.movset {
	width: 200px;
	height: 260px;
	display: inline;
}
#videofrm {
	width: 700px;
	height: 300px;
}

/* sports.html style */
.spoimg {
	width: 250px;
	height: 230px;
}
.sposet {
	width: 200px;
	height: 500px;
	display: inline;
}

/* furniture.html style */
.furimg {
	width: 250px;
	height: 230px;
}
.furset {
	width: 200px;
	height: 500px;
	display: inline;
}

/* foothing.html style */
.fooimg {
	width: 360px;
	height: 300px;	
}
.fooset {
	width: 230px;
	height: 500px;
	display: inline;
}

/* member.html style */
#memset {
	padding-left: 25px;
    width: 430px;
}
.user {
	width: 136px;
}
#userbir {
	width: 169px;
}
#idlabel {
	padding-right: 73px;
}
#passlabel {
	padding-right: 57px;
}
#passchklabel {
	padding-right: 20px;
}
#namelabel {
	padding-right: 89px;
}
#hplabel {
    padding-right: 36px;
}
#emaillabel {
	padding-right: 73px;
}
#birlabel {
    padding-right: 89px;
}
#homelabel {
	padding-right: 57px;
}
#genderMale {
	margin-left: 75px;
}
#genderFemale {
	margin-left: 75px;
}
.genlabel {
	padding-left: 75px;
}
.membutton {
	width: 160px;
}
/* shopcart.html style */
#shoptable {
	text-align: center;	
	padding-left: 10px;
}
.form {
	margin-left: 30px;
	margin-top: 30px;
}
.back {
	margin-left: 30px;
}